{% extends 'base.html.twig' %}

{% block title %}Options index{% endblock %}

{% block body %}
    <h1>Options index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reponse1</th>
                <th>Reponse2</th>
                <th>Reponse3</th>
                <th>Reponse4</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.reponse1 }}</td>
                <td>{{ option.reponse2 }}</td>
                <td>{{ option.reponse3 }}</td>
                <td>{{ option.reponse4 }}</td>
                <td>
                    <a href="{{ path('app_options_show', {'id': option.id}) }}">show</a>
                    <a href="{{ path('app_options_edit', {'id': option.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_options_new') }}">Create new</a>
{% endblock %}
