{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
<div class="container_admin">
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ candidat.Pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ candidat.genre }}</td>
            </tr>
             <tr>
                <th>Edit</th>
                <td><a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">edit</a>
                
                </td>
                
            </tr>
             <tr>
                <th>Delete</th>
                <td>
                {{ include('candidat/_delete_form.html.twig') }}
                </td>
                
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidat_index') }}">back to list</a>

    

    
    </div>
{% endblock %}
